API_KEY=""
BIN_SERVICE_URL="http://bins:8080/api/bin_collection/"
BIN_COLLECTION_COUNCIL="TorridgeDistrictCouncil"
BIN_COLLECTION_URL="https://collections-torridge.azurewebsites.net/WebService2.asmx"
BIN_COLLECTION_UPRN=100041202555

DOCKER_BUILD_NAME="gibbs/ham-nextjs"
DOCKER_BUILD_TAG="1.0.0"
